* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    top: 0;
    left: 0;
}
/* First thought, will trie something els!
.container {
    height: 100%;
    background-image: url('../img/Robin\ Aves\ -Landing\ Page.jpg');
    background-repeat: no-repeat;
    background-position:center;git
    background-attachment: fixed;
}
*/

/*----------------------------------------------Nav-Menus*/
a{
    text-decoration: none;
    color: black;
}
.left-menu{
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px 30px 0 20px;
    box-sizing: border-box;
}
/*---------------------------------------------------socials*/
.right-menu {
    list-style: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px 30px 0 10px;
    box-sizing: border-box;
    
}
/*-------------------------------------------------heading*/
.index {
    text-align: center;    
    padding-top: 16rem;
}